<div class="modal-backdrop">
  <div class="info-modal">

    <button class="back-button" (click)="closeModal()">
      ‹ Voltar
    </button>

    <div class="info-card">
      <div class="info-card-inner">
        <p><span>Local:</span> Domicílio ou espaço seguro e adequado</p>
        <p><span>Número de séries:</span> 3 séries</p>
        <p><span>Número de repetições:</span> 7 segundos</p>
        <p><span>Intervalo entre séries:</span> 30 segundos</p>
        <p><span>Duração:</span> 7 minutos</p>
      </div>
    </div>

  </div>
</div>
