<div
  class="side-menu-overlay"
  (click)="close.emit()">
</div>

<aside class="side-menu">
  <button
    class="side-menu-back"
    type="button"
    (click)="close.emit()">
    ‹ Voltar
  </button>

  <button
    *ngIf="canChangePatient"
    class="side-menu-item"
    type="button"
    (click)="changePatient.emit()">
    Trocar utente
  </button>

  <button
    class="side-menu-item"
    type="button">
    Chats
  </button>

  <button
    class="side-menu-item"
    type="button"
    (click)="openContents.emit()">
    Conteúdos
  </button>

  <button
    *ngIf="isAdmin"
    class="side-menu-item"
    type="button"
    (click)="openAdminActivities.emit()">
    Atividades
  </button>

  <button
    type="button"
    class="side-menu-item logout-item"
    (click)="logout.emit()">
    Terminar sessão
  </button>
</aside>
