<app-login
  *ngIf="!isLoggedIn"
  (loginSuccess)="onLogin($event)">
</app-login>

<div *ngIf="isLoggedIn && userRole === 'formal' && currentPage === 'patients'">

  <app-loading-spinner
    *ngIf="isLoadingPatients"
    message="A carregar utentes...">
  </app-loading-spinner>

  <p *ngIf="patientsError">
    {{ patientsError }}
  </p>

  <app-patients-list
    *ngIf="!isLoadingPatients && !patientsError"
    [patients]="patients"
    (selectPatient)="onSelectPatient($event)">
  </app-patients-list>

</div>

<app-loading-spinner
  *ngIf="isLoggedIn && isLoadingSelectedPatient"
  message="A carregar perfil do utente...">
</app-loading-spinner>

<p *ngIf="selectedPatientError">
  {{ selectedPatientError }}
</p>

<app-home
  *ngIf="isLoggedIn && currentPage === 'home' && selectedPatient && !isLoadingSelectedPatient"
  [patient]="selectedPatient!"
  [currentUser]="currentUser!"
  (openActivities)="goToActivities()"
  (openProfile)="goToProfile()"
  (openChat)="goToChat()"
  (openPatients)="goToPatients()">
</app-home>


<app-activities
  *ngIf="isLoggedIn && currentPage === 'activities' && selectedPatient"
  [role]="userRole"
  [selectedPatient]="selectedPatient!"
  (goHome)="goToHome()"
  (openPatients)="goToPatients()"
  (openChat)="goToChat()"
  (openProfile)="goToProfile()">
</app-activities>

<app-chat-modal
  *ngIf="isLoggedIn && currentPage === 'chat'"
  (goBack)="goToActivities()"
  (close)="goToActivities()"
  (openPatients)="goToPatients()"
  (goHome)="goToHome()"
  (openProfile)="goToProfile()">
</app-chat-modal>

<app-profile
  *ngIf="isLoggedIn && currentPage === 'profile' && selectedPatient"
  [role]="userRole"
  [patient]="selectedPatient!"
  (goHome)="goToHome()"
  (openActivities)="goToActivities()"
  (openChat)="goToChat()"
  (openPatients)="goToPatients()">
</app-profile>
