<div class="modal-backdrop">
  <div class="chat-page">
    <header class="header">
      <div class="left-actions">
        <img src="/icons/menu.svg" class="menu-icon" (click)="openSideMenu()" />

        <button class="back-button" type="button" (click)="closeModal()">
          <span class="back-arrow">‹</span>
          <span>Voltar</span>
        </button>
      </div>

      <div class="top-icons">
        <img src="/icons/bell.svg" class="top-icon" />
        <img src="/icons/professional.svg" class="avatar-small" />
      </div>
    </header>

    <section class="professional-card">
      <img src="/icons/adm.svg" class="professional-avatar" />

      <div class="professional-info">
        <div class="professional-name-row">
          <h1>Administração</h1>
          <span class="online-dot"></span>
          <span class="online-text">Online</span>
        </div>

        <p>Serviços</p>
      </div>

      <img src="/icons/Phone_2.svg" class="call-icon" (click)="openCallOverlay()" />
    </section>

    <section class="chat-main">
      <main class="chat-content">
        <div class="message sent large"></div>
        <span class="time sent-time">9:35</span>

        <div class="message received"></div>
        <span class="time received-time">9:41</span>

        <div class="message sent small"></div>
        <span class="time sent-time">9:50</span>

        <div class="message received"></div>
        <span class="time received-time last-time">9:56</span>
      </main>

      <section class="chat-input-area">
        <div class="chat-input-shell">
          <input
            [(ngModel)]="message"
            placeholder="Escreva uma mensagem..."
            (keyup.enter)="sendMessage()"
          />

          <button type="button" (click)="sendMessage()">
            <img src="/icons/send.svg" alt="Enviar mensagem" />
          </button>
        </div>
      </section>
    </section>

    <footer class="bottom-nav">
      <div class="active" (click)="openActivities.emit()">
        <img src="/icons/atividade_marked.svg" />
        <span>Atividades</span>
      </div>

      <div (click)="goHome.emit()">
        <img src="/icons/Home_unmarked.svg" />
        <span>Início</span>
      </div>

      <div>
        <div (click)="openProfile.emit()">
          <img src="/icons/person.svg" />
        <span>Perfil</span>
        </div>
      </div>
    </footer>
  </div>

  <app-call-overlay
    *ngIf="showCallOverlay"
    name="Administração"
    status="A chamar ..."
    avatar="/icons/adm.svg"
    (endCall)="closeCallOverlay()">
  </app-call-overlay>


  <app-side-menu
    *ngIf="showSideMenu"
    (close)="closeSideMenu()"
    (changePatient)="openPatients.emit(); closeSideMenu()"
    (openChat)="openChat.emit(); closeSideMenu()">
  </app-side-menu>
</div>
